@keyframes x18re5ia-B{from{opacity:0;}to{opacity:1;}}
.x1ghz6dp:not(#\#):not(#\#){margin:0}
.x5w7p0w:not(#\#):not(#\#){margin:15px}
.xpzqqvo:not(#\#):not(#\#){margin:1em}
.x18bl9w9:not(#\#):not(#\#){margin:20px 0}
.x1a6s9ay:not(#\#):not(#\#){padding:.75em}
.x1717udv:not(#\#):not(#\#){padding:0}
.x119fht0:not(#\#):not(#\#){padding:1em}
.x1qhigcl:not(#\#):not(#\#){padding:20px}
.xyklgd6:not(#\#):not(#\#){padding:5em}
@media (max-width: 576px){.x1n1voca.x1n1voca:not(#\#):not(#\#){margin:.5em 0}}
@media (max-width: 576px){.x2n2kot.x2n2kot:not(#\#):not(#\#){margin:.75em}}
@media (max-width: 767.98px){.x193qa33.x193qa33:not(#\#):not(#\#){margin:0}}
@media (max-width: 576px){.x1sxdcra.x1sxdcra:not(#\#):not(#\#){padding:.1em}}
@media (max-width: 767.98px){.x1sz813p.x1sz813p:not(#\#):not(#\#){padding:0}}
@media (max-width: 767.98px){.xq71o5a.xq71o5a:not(#\#):not(#\#){padding:1em}}
.x1bcskws:not(#\#):not(#\#):not(#\#){border-color:lightgray}
.x1nvupfo:not(#\#):not(#\#):not(#\#){border-color:white}
.xeihhvt:not(#\#):not(#\#):not(#\#){border-radius:10%}
.x16rqkct:not(#\#):not(#\#):not(#\#){border-radius:50%}
.x1f96onm:not(#\#):not(#\#):not(#\#){border-radius:50px}
.x1y0btm7:not(#\#):not(#\#):not(#\#){border-style:solid}
.xmkeg23:not(#\#):not(#\#):not(#\#){border-width:1px}
.xf0lols:not(#\#):not(#\#):not(#\#){border-width:5px}
.x14lvbjj:not(#\#):not(#\#):not(#\#){flex-flow:row}
.xe8uvvx:not(#\#):not(#\#):not(#\#){list-style:none}
.x8wq77w:not(#\#):not(#\#):not(#\#){margin-block:.3em}
.x19utnxn:not(#\#):not(#\#):not(#\#){margin-block:4em}
.x29zd78:not(#\#):not(#\#):not(#\#){margin-inline:4em}
.xb3r6kr:not(#\#):not(#\#):not(#\#){overflow:hidden}
.x1hl2dhg:not(#\#):not(#\#):not(#\#){text-decoration:none}
@media (max-width: 576px){.xgnfryt.xgnfryt:not(#\#):not(#\#):not(#\#){flex-flow:column}}
@media (max-width: 767.98px){.xq9gqdn.xq9gqdn:not(#\#):not(#\#):not(#\#){margin-block:.4em}}
@media (max-width: 767.98px){.xb781gy.xb781gy:not(#\#):not(#\#):not(#\#){margin-block:2em}}
@media (max-width: 767.98px){.x8fdhy7.x8fdhy7:not(#\#):not(#\#):not(#\#){overflow:hidden}}
.x6s0dn4:not(#\#):not(#\#):not(#\#):not(#\#){align-items:center}
.xuk3077:not(#\#):not(#\#):not(#\#):not(#\#){align-items:flex-end}
.x1cy8zhl:not(#\#):not(#\#):not(#\#):not(#\#){align-items:flex-start}
.xfjzax6:not(#\#):not(#\#):not(#\#):not(#\#){animation-delay:.5s}
.x1ru42tm:not(#\#):not(#\#):not(#\#):not(#\#){animation-delay:1.5s}
.x195zjxv:not(#\#):not(#\#):not(#\#):not(#\#){animation-delay:2.5s}
.x1q3qbx4:not(#\#):not(#\#):not(#\#):not(#\#){animation-duration:1s}
.x10e4vud:not(#\#):not(#\#):not(#\#):not(#\#){animation-fill-mode:forwards}
.x1v7wizp:not(#\#):not(#\#):not(#\#):not(#\#){animation-iteration-count:1}
.xqcmdr3:not(#\#):not(#\#):not(#\#):not(#\#){animation-name:x18re5ia-B}
.xn0cd8s:not(#\#):not(#\#):not(#\#):not(#\#){animation-timing-function:ease-in}
.xoqnupg:not(#\#):not(#\#):not(#\#):not(#\#){background-color:lightgoldenrodyellow}
.x51f979:not(#\#):not(#\#):not(#\#):not(#\#){background-image:linear-gradient(to bottom,white,#ffb900)}
.x140fysx:not(#\#):not(#\#):not(#\#):not(#\#){border-top-color:gray}
.x13fuv20:not(#\#):not(#\#):not(#\#):not(#\#){border-top-style:solid}
.x178xt8z:not(#\#):not(#\#):not(#\#):not(#\#){border-top-width:1px}
html:not([dir='rtl']) .x15pf2of:not(#\#):not(#\#):not(#\#):not(#\#){box-shadow:2em 2em 18em white}
html[dir='rtl'] .x15pf2of:not(#\#):not(#\#):not(#\#):not(#\#){box-shadow:-2em 2em 18em white}
html:not([dir='rtl']) .x15iu1yi:not(#\#):not(#\#):not(#\#):not(#\#){box-shadow:5px 5px 18px black}
html[dir='rtl'] .x15iu1yi:not(#\#):not(#\#):not(#\#):not(#\#){box-shadow:-5px 5px 18px black}
html:not([dir='rtl']) .x15rh5ea:not(#\#):not(#\#):not(#\#):not(#\#){box-shadow:5px 5px 18px gray}
html[dir='rtl'] .x15rh5ea:not(#\#):not(#\#):not(#\#):not(#\#){box-shadow:-5px 5px 18px gray}
.x9f619:not(#\#):not(#\#):not(#\#):not(#\#){box-sizing:border-box}
.xnsk4rt:not(#\#):not(#\#):not(#\#):not(#\#){color:#45474c}
.x1mqxbix:not(#\#):not(#\#):not(#\#):not(#\#){color:black}
.xk6n5ad:not(#\#):not(#\#):not(#\#):not(#\#){color:Cornsilk}
.x10kve7k:not(#\#):not(#\#):not(#\#):not(#\#){color:Dimgray}
.xkn7p67:not(#\#):not(#\#):not(#\#):not(#\#){color:gray}
.x78zum5:not(#\#):not(#\#):not(#\#):not(#\#){display:flex}
.x1s85apg:not(#\#):not(#\#):not(#\#):not(#\#){display:none}
.x1l7klhg:not(#\#):not(#\#):not(#\#):not(#\#){flex-basis:100%}
.xdt5ytf:not(#\#):not(#\#):not(#\#):not(#\#){flex-direction:column}
.x15zctf7:not(#\#):not(#\#):not(#\#):not(#\#){flex-direction:row-reverse}
.x1q0g3np:not(#\#):not(#\#):not(#\#):not(#\#){flex-direction:row}
.x1iyjqo2:not(#\#):not(#\#):not(#\#):not(#\#){flex-grow:1}
.xs83m0k:not(#\#):not(#\#):not(#\#):not(#\#){flex-shrink:1}
.xozqiw3:not(#\#):not(#\#):not(#\#):not(#\#){flex-wrap:nowrap}
.x1a02dak:not(#\#):not(#\#):not(#\#):not(#\#){flex-wrap:wrap}
.xwsdpu9:not(#\#):not(#\#):not(#\#):not(#\#){font-size:1.25em}
.xecar28:not(#\#):not(#\#):not(#\#):not(#\#){font-size:1.2vw}
.xkzkwiv:not(#\#):not(#\#):not(#\#):not(#\#){font-size:1.5em}
.xd687xl:not(#\#):not(#\#):not(#\#):not(#\#){font-size:1.5vw}
.xyfet79:not(#\#):not(#\#):not(#\#):not(#\#){font-size:1.75vw}
.x1axn6hp:not(#\#):not(#\#):not(#\#):not(#\#){font-size:120%}
.xv9wd1x:not(#\#):not(#\#):not(#\#):not(#\#){font-size:1vw}
.xm9pg07:not(#\#):not(#\#):not(#\#):not(#\#){font-size:2.2vw}
.x1g65q5x:not(#\#):not(#\#):not(#\#):not(#\#){font-size:2vw}
.xg597cm:not(#\#):not(#\#):not(#\#):not(#\#){font-size:3.5vw}
.x10wc8se:not(#\#):not(#\#):not(#\#):not(#\#){font-size:3vw}
.x15zwtr4:not(#\#):not(#\#):not(#\#):not(#\#){font-size:4vw}
.x1k4tb9n:not(#\#):not(#\#):not(#\#):not(#\#){font-style:italic}
.x1ny7uwr:not(#\#):not(#\#):not(#\#):not(#\#){font-weight:200}
.x1iikomf:not(#\#):not(#\#):not(#\#):not(#\#){font-weight:300}
.xo1l8bm:not(#\#):not(#\#):not(#\#):not(#\#){font-weight:400}
.x1s688f:not(#\#):not(#\#):not(#\#):not(#\#){font-weight:600}
.x117nqv4:not(#\#):not(#\#):not(#\#):not(#\#){font-weight:bold}
.xl56j7k:not(#\#):not(#\#):not(#\#):not(#\#){justify-content:center}
.x13a6bvl:not(#\#):not(#\#):not(#\#):not(#\#){justify-content:flex-end}
.x1nhvcw1:not(#\#):not(#\#):not(#\#):not(#\#){justify-content:flex-start}
.x1l1ennw:not(#\#):not(#\#):not(#\#):not(#\#){justify-content:space-around}
.x1qughib:not(#\#):not(#\#):not(#\#):not(#\#){justify-content:space-between}
.xaw8158:not(#\#):not(#\#):not(#\#):not(#\#){justify-content:space-evenly}
.xmucqbd:not(#\#):not(#\#):not(#\#):not(#\#){line-height:1.25em}
.x1xuplte:not(#\#):not(#\#):not(#\#):not(#\#){line-height:1.4em}
.x3gokd0:not(#\#):not(#\#):not(#\#):not(#\#){line-height:1.5em}
.x1h8mkoe:not(#\#):not(#\#):not(#\#):not(#\#){line-height:1.75em}
.x19kjcj4:not(#\#):not(#\#):not(#\#):not(#\#){object-fit:contain}
.xg01cxk:not(#\#):not(#\#):not(#\#):not(#\#){opacity:0}
.x1hc1fzr:not(#\#):not(#\#):not(#\#):not(#\#){opacity:1}
html:not([dir='rtl']) .xkhd6sd:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:0}
html[dir='rtl'] .xkhd6sd:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:0}
html:not([dir='rtl']) .x11uu2j1:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:1em}
html[dir='rtl'] .x11uu2j1:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:1em}
html:not([dir='rtl']) .x79ufrc:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:5em}
html[dir='rtl'] .x79ufrc:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:5em}
html:not([dir='rtl']) .x4uap5:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:0}
html[dir='rtl'] .x4uap5:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:0}
html:not([dir='rtl']) .x1v60uq5:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:1em}
html[dir='rtl'] .x1v60uq5:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:1em}
html:not([dir='rtl']) .x1sitny7:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:5em}
html[dir='rtl'] .x1sitny7:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:5em}
.x10l6tqk:not(#\#):not(#\#):not(#\#):not(#\#){position:absolute}
.x1n2onr6:not(#\#):not(#\#):not(#\#):not(#\#){position:relative}
.x2b8uid:not(#\#):not(#\#):not(#\#):not(#\#){text-align:center}
.x1hr2gdg:not(#\#):not(#\#):not(#\#):not(#\#){text-align:right}
.x1pawcla:not(#\#):not(#\#):not(#\#):not(#\#){text-shadow:0 0 18px black}
.xf5r5xt:not(#\#):not(#\#):not(#\#):not(#\#){transform:rotate(-2deg)}
.x1i3z1r0:not(#\#):not(#\#):not(#\#):not(#\#){transform:translateX(-50%) translateY(-50%)}
.x1wsgiic:not(#\#):not(#\#):not(#\#):not(#\#){transition-duration:.5s}
.x15406qy:not(#\#):not(#\#):not(#\#):not(#\#){transition-property:background-color}
.xt3l3uh:not(#\#):not(#\#):not(#\#):not(#\#){transition-property:color}
.x186m0qw:hover:not(#\#):not(#\#):not(#\#):not(#\#){background-color:rgba(0,0,0,.5)}
.x1oyc7ay:hover:not(#\#):not(#\#):not(#\#):not(#\#){background-color:steelblue}
.xvm0q45:hover:not(#\#):not(#\#):not(#\#):not(#\#){color:var(--1113oo7,revert)}
.x1frr76i:hover:not(#\#):not(#\#):not(#\#):not(#\#){color:white}
@media (max-width: 767.98px){.xvkwi3i.xvkwi3i:not(#\#):not(#\#):not(#\#):not(#\#){align-items:center}}
@media (max-width: 767.98px){.x1fiwyfa.x1fiwyfa:not(#\#):not(#\#):not(#\#):not(#\#){align-self:center}}
@media (max-width: 576px){.x18cnoec.x18cnoec:not(#\#):not(#\#):not(#\#):not(#\#){cursor:pointer}}
@media (max-width: 576px){.x1p0dudw.x1p0dudw:not(#\#):not(#\#):not(#\#):not(#\#){display:block}}
@media (max-width: 576px){.x1fqyeo5.x1fqyeo5:not(#\#):not(#\#):not(#\#):not(#\#){display:flex}}
@media (max-width: 576px){.xiqrwmb.xiqrwmb:not(#\#):not(#\#):not(#\#):not(#\#){display:none}}
@media (max-width: 576px){.xf2cc30.xf2cc30:not(#\#):not(#\#):not(#\#):not(#\#){flex-basis:100%}}
@media (max-width: 767.98px){.xzuq3rl.xzuq3rl:not(#\#):not(#\#):not(#\#):not(#\#){flex-direction:column}}
@media (max-width: 576px){.xx4vbq4.xx4vbq4:not(#\#):not(#\#):not(#\#):not(#\#){flex-grow:1}}
@media (max-width: 576px){.x27v2p3.x27v2p3:not(#\#):not(#\#):not(#\#):not(#\#){flex-shrink:1}}
@media (max-width: 576px){.x2ydwxr.x2ydwxr:not(#\#):not(#\#):not(#\#):not(#\#){flex-wrap:wrap}}
@media (max-width: 767.98px){.xnohng3.xnohng3:not(#\#):not(#\#):not(#\#):not(#\#){font-size:.8em}}
@media (max-width: 767.98px){.xlvn5dk.xlvn5dk:not(#\#):not(#\#):not(#\#):not(#\#){font-size:1em}}
@media (max-width: 767.98px){.xqq83mf.xqq83mf:not(#\#):not(#\#):not(#\#):not(#\#){font-size:2.1em}}
@media (max-width: 767.98px){.xs6po4e.xs6po4e:not(#\#):not(#\#):not(#\#):not(#\#){font-size:2.25em}}
@media (max-width: 767.98px){.xsw0rx2.xsw0rx2:not(#\#):not(#\#):not(#\#):not(#\#){font-size:2em}}
@media (max-width: 767.98px){.xex0r4e.xex0r4e:not(#\#):not(#\#):not(#\#):not(#\#){font-size:4vw}}
@media (max-width: 767.98px){.x1a0ha8b.x1a0ha8b:not(#\#):not(#\#):not(#\#):not(#\#){font-size:5vw}}
@media (max-width: 767.98px){.x1qoopwg.x1qoopwg:not(#\#):not(#\#):not(#\#):not(#\#){font-size:7vw}}
@media (max-width: 767.98px){.x1m2yy67.x1m2yy67:not(#\#):not(#\#):not(#\#):not(#\#){font-weight:500}}
@media (max-width: 767.98px){.x1ie629r.x1ie629r:not(#\#):not(#\#):not(#\#):not(#\#){justify-content:center}}
@media (max-width: 576px){.x1y92ikx.x1y92ikx:not(#\#):not(#\#):not(#\#):not(#\#){justify-content:flex-end}}
@media (max-width: 767.98px){.xdegjna.xdegjna:not(#\#):not(#\#):not(#\#):not(#\#){line-height:1.25em}}
@media (max-width: 767.98px){.x1xpxikv.x1xpxikv:not(#\#):not(#\#):not(#\#):not(#\#){line-height:1.5em}}
@media (max-width: 767.98px){.xop5dr0.xop5dr0:not(#\#):not(#\#):not(#\#):not(#\#){order:1}}
@media (max-width: 767.98px){html:not([dir='rtl']) .x1u57vl.x1u57vl:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:0}}
@media (max-width: 767.98px){html[dir='rtl'] .x1u57vl.x1u57vl:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:0}}
@media (max-width: 767.98px){html:not([dir='rtl']) .xpb0gyv.xpb0gyv:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:2em}}
@media (max-width: 767.98px){html[dir='rtl'] .xpb0gyv.xpb0gyv:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:2em}}
@media (max-width: 767.98px){html:not([dir='rtl']) .x1fx9eg1.x1fx9eg1:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:0}}
@media (max-width: 767.98px){html[dir='rtl'] .x1fx9eg1.x1fx9eg1:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:0}}
@media (max-width: 767.98px){html:not([dir='rtl']) .x1hx0u5u.x1hx0u5u:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:2em}}
@media (max-width: 767.98px){html[dir='rtl'] .x1hx0u5u.x1hx0u5u:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:2em}}
@media (max-width: 767.98px){.xk8yk8a.xk8yk8a:not(#\#):not(#\#):not(#\#):not(#\#){text-align:center}}
.x135bzbf:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){border-left-color:blue}
.x19ypqd9:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){border-left-style:solid}
.x19sr0n1:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){border-left-width:2px}
.x1gphc68:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){height:.25px}
.x5yr21d:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){height:100%}
.x605rci:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){height:18.5em}
.x127qqk8:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){height:250px}
.xvqvw8y:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){height:3em}
.x1nrll8i:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){left:50%}
.x1p1pd2l:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:1.5em}
.xyorhqc:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:10px}
.xwoyzhm:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:7px}
.x1ma63tm:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){margin-left:.5em}
.xj3b58b:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){margin-left:0}
.x6wjjhw:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){margin-left:1.5em}
.xgsvwom:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){margin-left:1px}
.x1yf7rl7:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){margin-right:0}
.xn4r0uj:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){margin-right:2em}
.x14beivq:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){margin-top:1em}
.x1coevs8:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){margin-top:50px}
.x1ok221b:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){margin-top:5px}
.x1rhet7l:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){margin-top:7px}
.x65f84u:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){max-width:500px}
.x18d9i69:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:0}
.x159lptv:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:1em}
.x1yidqsj:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:2em}
.xbaz6xv:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:30px}
.x6do84b:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:5em}
.xs9asl8:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:5px}
.x1qdk5rw:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-left:.5em}
.x1uhho1l:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-left:0}
.x1lqa7cf:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-left:10px}
.x60ae3s:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-right:.5em}
.x1xpa7k:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-right:0}
.xwv4w4e:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-right:2em}
.xexx8yu:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-top:0}
.xwp6svo:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-top:1em}
.x19p1pi6:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-top:2em}
.x9orja2:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-top:30px}
.x1byaoqj:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-top:3em}
.xh4lp6p:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-top:5em}
.x123j3cw:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-top:5px}
.xwa60dl:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){top:50%}
.xh8yej3:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){width:100%}
.x127olvl:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){width:15vw}
.x14veem4:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){width:18.5em}
.xl3bnfi:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){width:25vw}
.x1kez8h7:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){width:40vw}
.x3hqpx7:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){width:50%}
.xpbhsoc:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){width:7em}
.xa8ism5:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){width:80vw}
.x14atkfc:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){width:auto}
@media (max-width: 767.98px){.x1dn8wf4.x1dn8wf4:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){height:100%}}
@media (max-width: 767.98px){.x2nnlzq.x2nnlzq:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){height:200px}}
@media (max-width: 767.98px){.x4nygo4.x4nygo4:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){height:20vh}}
@media (max-width: 767.98px){.xbnhdzq.xbnhdzq:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){margin-left:0}}
@media (max-width: 767.98px){.x1itd0t6.x1itd0t6:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){margin-left:1em}}
@media (max-width: 767.98px){.xoanr3x.xoanr3x:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){margin-right:0}}
@media (max-width: 767.98px){.x1tblycb.x1tblycb:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){margin-top:0}}
@media (max-width: 767.98px){.x1dthn43.x1dthn43:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){margin-top:18px}}
@media (max-width: 767.98px){.xkfgou1.xkfgou1:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:0}}
@media (max-width: 767.98px){.xdy8arq.xdy8arq:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:1em}}
@media (max-width: 767.98px){.x1wcmds0.x1wcmds0:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-right:0}}
@media (max-width: 767.98px){.x15zcu0s.x15zcu0s:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-top:0}}
@media (max-width: 767.98px){.x1xlhor0.x1xlhor0:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){padding-top:1em}}
@media (max-width: 767.98px){.x6uy7z5.x6uy7z5:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){width:100%}}
@media (max-width: 767.98px){.x3nuf74.x3nuf74:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){width:50vw}}
@media (max-width: 767.98px){.x1x544df.x1x544df:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){width:70%}}
@media (max-width: 767.98px){.x1i91zov.x1i91zov:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){width:70vw}}
@media (max-width: 767.98px){.x129y99.x129y99:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){width:75%}}
@media (max-width: 767.98px){.xsg252a.xsg252a:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#){width:auto}}